<div>
    "Code should be readable. A good litmus test you guys might want to try out is take the code you've written this
    semester and read through it after 6 or so months after last touching it. If even you can't figure out your programs
    are supposed to do with minimal effort, how are your team members, PMOs or anyone else going to know."
</div>
<div>
    As programmers, we are constantly aware of the verbosity, complexity, efficiency and ease of use of the programs we write. You may the greatest algorithm that increases the efficiency of your code by 10%, but it's so incredibly complex that you're the only one that seems t understand it. 
</div>
<div class="text-center">
    <a style="font-size: 120%;" href="https://github.com/komoto415/TestAssignment">
        <span>Experimental Project Ideas</span>
    </a>
</div>
<div>
</div>