.col-4 {
    margin-top: 30px !important;
}

/* @media screen and (max-width: 350px) { */

.skill img {
    max-height: 75px;
    max-width: 75px;
    height: auto;
    width: auto;
    transition: .2s;
}

.skill img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    .skill img {
        max-height: 100px;
        max-width: 100px;
    }
}

@media screen and (min-width: 880px) {
    .skill img {
        max-height: 125px;
        max-width: 125px;
    }
}