<div class="row">
    <div class="col-lg-4" *ngFor="let row of projects;">
        <div *ngFor="let project of row;" class="inner">
            <!-- <a attr.href="{{ project.link }}" target="_blank"> -->
            <a routerLink="{{ project.router }}">
                <div class="card">
                    <img attr.src="/assets/projects/{{project.thumbnail}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"> {{ project.title }} </h5>
                        <p class="card-text"> {{ project.desc }} </p>
                        <span class="tag" *ngFor="let tag of project.tags"> #{{ tag }} </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>