/* Cards */

.inner, .col-lg-4 {
    margin-bottom: 30px;
}

.card {
    /* background-color: rgb(42, 32, 71); */
    background-color: transparent;
    border-color: aliceblue;
    cursor: pointer;
}

.inner a {
    color: aliceblue;
    text-decoration: none !important;
}

.tag {
    font-size: 80%;
    opacity: .7;
}

h5 {
    font-weight: 590;
}

a:hover {
    text-decoration: none !important;
    cursor: pointer;
}

a:hover h5 {
    color: rgb(89, 175, 250);
    text-decoration: underline;
}