/* Cards */


/* Card content */

.card {
    /* background-color: rgb(42, 32, 71); */
    background-color: transparent;
    border-color: aliceblue;
    /* cursor: pointer; */
    margin-bottom: 20px;
}

.card .card-title,
.card img {
    cursor: pointer;
}

.inner a {
    color: aliceblue;
    text-decoration: none !important;
}

h5 {
    font-weight: 590;
}

@media (min-width: 567px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 960px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}