/* Cards */

/* Fade in fade out credit: https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08 */

div.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
    height: auto;
    opacity: 1;
}

div.fade-out {
    animation: fadeOut ease 0.5s;
    -webkit-animation: fadeOut ease 0.5s;
    -moz-animation: fadeOut ease 0.5s;
    -o-animation: fadeOut ease 0.5s;
    -ms-animation: fadeOut ease 0.5s;
    height: 0;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        height: auto;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
        height: auto;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        height: auto;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
        height: auto;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
        height: auto;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

/* Card content */

.card {
    /* background-color: rgb(42, 32, 71); */
    background-color: transparent;
    border-color: aliceblue;
    cursor: pointer;
    margin-bottom: 20px;
}

.inner a {
    color: aliceblue;
    text-decoration: none !important;
}

h5 {
    font-weight: 590;
}

a:hover {
    text-decoration: none !important;
    cursor: pointer;
}

a:hover h5 {
    color: rgb(89, 175, 250);
    text-decoration: underline;
}

.tag {
    font-size: 80%;
    opacity: .7;
}

/* Masonry layout overrides */

.card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding: 0 5vw 0 5vw;
    /* padding: 0 30px 0 30px; */
}

@media (min-width: 650px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1100px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* @media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
} */