<div class="row about-me-wrapper home-content-wrapper align-items-center">
    <div class="col-sm-4 align-self-start">
        <div class="text-center">
            <h3 style="margin-bottom: 25px; ">About Me</h3>
            <p>
                <img src="/assets/images/me/me-squared.jpg" class="mx-auto d-block img-fluid">
            </p>
        </div>
    </div>
    <div class="col align-self-center about-text-wrapper">
        <div class="about-text">
            <p id="about-text-p1">
                I was born in Texas and raised in Hong Kong where I was schooled at Hong Kong International
                School
                all the way from reception until graduation. I am now back stateside in Austin, Texas for
                college at
                St. Edward's University.
            </p>
            <p class="collapse show" id="about-text-p2" aria-expanded="false">
                Despite the various career paths I have attempted, such as Journalism and Game Design, I always
                find
                myself back on track in some sort of engineering field. A part of me has always known I wanted a
                designer and builder and it wasn't fully realised until university.
            </p>
        </div>
        <a role="button" data-toggle="collapse" href="#about-text-p2" aria-expanded="false"
            aria-controls="about-text-p2">
        </a>
    </div>
</div>