<header class="navbar sticky-top navbar-expand-lg justify-content-start">
    <span class="navbar-brand">
        <a style="color: aliceblue;" routerLink="" routerLinkActive="active">
            <span>
                Jeffrey Ng
            </span>
        </a>
    </span>
    <!-- <div *ngIf="!checkURL('/projects')"> -->
    <div *ngIf="this.router.url !== '/projects'">
        <span class="navbar-item" id="projects">
            <a routerLink="projects" routerLinkActive="active">>>> ./Projects</a>
        </span>
    </div>
</header>