<div class="row justify-content-center" *ngFor="let college of colleges;">
    <div class="col-lg">
        <div class="card border-dark mb-3 edu">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <span id="school">{{ college.name }}</span>
                    </div>
                    <div class="col-4" style="text-align: right;">
                        {{ college.timeline }}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <h6 *ngFor="let degree of college.degrees;" class="card-title">{{ degree }}</h6>
                        <div *ngIf="college.minors.length > 0">
                            <span>
                                {{ "Minor" + (college.minors.length > 1 ? "s" : "") }}
                            </span>
                            <ul>
                                <li *ngFor="let minor of college.minors;">
                                    {{ minor }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-2">
                        <label>{{ college.gpa }}</label>
                    </div> -->
                </div>
                <div *ngIf="college.classes.length > 0" class="row">
                    <div class="col">
                        <h6>
                            {{ "Class" + (college.classes.length > 1 ? "es" : "" ) + " of Note" }}
                        </h6>
                        <ul *ngIf="college.minors.length > 0">
                            <li *ngFor="let class of this.college.classes;">
                                <span class="clazz" data-toggle="modal"
                                    attr.data-target="#{{ this.simplifyString(class.name) }}">{{ class.name }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" attr.id="{{ this.simplifyString(class.name) }}" tabindex="-1" role="dialog"
            aria-hidden="true" *ngFor="let class of college.classes;">
            <div class="modal-dialog modal-dialog modal-xl" role="document">
                <div class="modal-content edu">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ class.ref }} - {{ class.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color: aliceblue;">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <app-class-swe *ngIf="class.name == 'Software Engineering I'"></app-class-swe>
                            <app-class-components *ngIf="class.name == 'Component-Based Programming'">
                            </app-class-components>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>