<div>
    <div>
        <h3>Project Overview</h3>
        <p>
            With the increasing prevalence of autonomous vehicles in everyday life, we seek to utilise them as
            more
            than just rideshares or food and grocery deliveries. Need your suit pressed for a party this
            evening?
            We’ve got you covered. Need medication delivered on short notice? We can do that too.
        </p>
        <p>
            Our goal of this project was to produce a proof of concept for a Transportation as a Service web
            application that would provide every day services, such as RX delivery, dry-cleaning, etc., as a
            part of
            an ever growing suite of services that under the WeGo brand.
        </p>
        <p>
            Our autonomous vehicle vendors will be the main providers of couriers for each of the services that
            we
            intend to provide. With our software, our vendors would be able to maintain, monitor and simulate
            the
            vehicles they have provided us.
        </p>
    </div>
    <div>
        <h3>Design and Process</h3>
        <p>
            From pitch to POC, our team developed several service concepts to execute our TaaS with. In coming up with
            our service concepts we developed UCD artifacts and Web Platform canvases that would serve the foundations
            of determining our service. Ultimately we decided on a Dry Cleaning service.
        </p>
        <p>
            For the first several weeks of development, we spent a lot of our time diagramming ad building the
            foundations with things such as marketecture, system and static and dynamic object orientated diagrams.
            These would be continuously updated as we learnt more about the project and would be our primary sources to
            reference when we considered added in new features and systems.
        </p>
        <p>
            <a class="my-a-link"
                href="https://drive.google.com/drive/folders/1yNNPdBaBPV2lX9_pwGAfAyhcPyfnxh6O?usp=sharing">Here</a> is
            a link to where I have most recently migrated our file repository if you would like to see some of our
            design components.
        </p>
    </div>
    <div>
        <h3>Check it out!</h3>
        <p>
            Unfortunately, due to our servers being owned by our school, they have since been destroyed and
            deactivated. I would like to the full service on my own sever but for now, here are the static HTML
            pages. Again, this will mean that many of the dynamic elements, the exciting things about our web-app, such
            as account states, live map generation and the actual placing an order will not be functional. But if you
            would like to see all of the logic, the JavaScript and Python scripts are available in the code repository
            below. Otherwise the page specific scripts are at the bottom of each card
        </p>
        <div class="row justify-content-around" style="margin-bottom: 20px;">
            <div class="col-lg-3 col-sm-6" *ngFor="let page of staticPages">
                <div class="card">
                    <a class="pageLink"
                        [attr.href]="page.penId.length !== 0 ? this.getCodePenURL(page.penId) : 'https://codepen.io/collection/DqpoVv'">
                        <div class="card-body">
                            <h5 class="card-title">{{ page.pageTitle }}</h5>
                        </div>
                        <img class="card-img" attr.src="/assets/images/projects/wego/{{ page.imgSrc }}.jpg"
                            attr.alt="we-go-services-{{ page.imgSrc }}">
                    </a>

                    <div class="card-body">
                        <div class="card-text">
                            <h6>
                                <a *ngIf="page.scripts.length > 1" class="script-collapse" data-toggle="collapse"
                                    attr.href="#{{ this.getIdFromPageTitle(page.pageTitle) }}" role="button"
                                    aria-expanded="false"
                                    attr.aria-controls="{{ this.getIdFromPageTitle(page.pageTitle) }}">
                                    Page Specific Scripts:
                                </a>
                            </h6>
                            <span *ngIf="page.scripts.length <= 1">Page Specific Script:</span>
                            <span *ngIf="page.scripts.length === 0"> None</span>
                            <div attr.id="{{ this.getIdFromPageTitle(page.pageTitle) }}" class="collapse"
                                [ngClass]="{ show : page.scripts.length <= 1 }">
                                <div *ngFor="let script of page.scripts">
                                    <a class="my-a-link"
                                        attr.href="https://github.com/sp20-swei-Team22/{{ script.cloud }}/blob/master/js/{{ script.name }}">
                                        <span>{{ script.name }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4>Site-Wide Scripts:</h4>
        <table>
            <tr>
                <td style="padding-right: 20px;" *ngFor="let script of siteWideScripts">
                    <a class="my-a-link"
                        attr.href="https://github.com/sp20-swei-Team22/{{ script.cloud }}/blob/master/js/{{ script.name }}"><span>{{ script.name }}</span></a>
                </td>
            </tr>
        </table>
        <p>
            Primarily just scripts that help site wide navigation and high level session management.
        </p>
    </div>
    <div>
        <h3>Check out the <a href="https://github.com/sp20-swei-Team22"><span>Team 22
                    Repository</span></a></h3>
    </div>
</div>