.card {
    background-color: #373764;
}

.card-body {
    padding: 10px 20px !important;
}

.card-body h5 {
    margin-bottom: 0px;
}

.script-collapse, .card .pageLink {
    color: aliceblue;
    text-decoration: none !important;
}

a.script-collapse , .card .pageLink:hover {
    text-decoration: underline !important;
}

.card-body h6 {
    margin-bottom: 2px;
}

.col-lg-3, .col-md-6 {
    margin-bottom: 30px;
}

.row {
    margin-bottom: 0 !important;
}

.card-img {
    border-radius: 0 !important;
}