<div class="project-wrapper">
    <div class="project-content">
        <!-- <div class="text-center">
            <app-maintenance></app-maintenance>
        </div> -->
        <div>
            <div>
                <h3>Project Overview</h3>
                <p>
                    With the increasing prevalence of autonomous vehicles in everyday life, we seek to utilise them as more
                    than just rideshares or food and grocery deliveries. Need your suit pressed for a party this eveneing?
                    We’ve got you covered. Need medication delivered on short notice? We can do that too.
                </p>
                <p>
                    Our goal of this project was to produce a proof of concept for a Transportation as a Service web
                    application that would provide every day services, such as RX delivery, dry-cleaning, etc., as a part of
                    an ever growing suite of services that under the WeGo brand.
                </p>
                <p>
                    Our autonomours vehicle vendors will be the main providers of couriers for each of the services that we
                    indend to provide. WIth our software, our vendors would be able to maintain, monitor and simulate the
                    vehicles they have provided us.
                </p>
            </div>
            <div>
                <h3></h3>
                <p>
                    
                </p>
            </div>
            <div>
                <h3>Check out our code Repository</h3>
                <a href="https://github.com/sp20-swei-Team22" target="_blank"><span>Team 22 Repository</span></a>
            </div>
            <div>
                Tags:
            </div>
        </div>
    </div>
</div>