/* Project related navbar stuff */

.navbar {
    background-color: #3b3b69;
    height: 55px;
}

.navbar a:hover {
    text-decoration: none !important;
    color: #007bff !important;
}

.navbar-brand {
    font-size: 20px !important;
}

@media screen and (max-width: 420px) {
    .navbar-item {
        display: none;
    }
}

/* Connent Wrappers */

.content, .project-content {
    margin: 0;
}

.wrapper {
    margin: 30px 4rem 0 4rem;
    min-height: calc(100vh - 201px);
}

@media screen and (max-width: 480px) {
    .wrapper {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (min-width: 480px) {
    .content, .project-content {
        margin: 0 2vw 0 2vw;
    }
}

/* Project Selector */

.hide {
    height: 0;
    width: 0;
    display: none;
    transition: 1s ease-out;
}

/* Project Controller */

#tagCheckboxes, .controller {
    min-width: 100%;
    /* margin: 10px 3vw 10px 3vw; */
    padding: 0 15px 0 15px;
    background-color: grey;
}

.controller {
    margin-bottom: 30px;
}

.filter {
    width: 50%;
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-style: solid;
    color: aliceblue;
}

.filter:focus {
    outline-width: 0;
    caret-color: aliceblue;
}

@media screen and (min-width: 700px) {
    #projectSearch {
        width: 55%;
    }
}