<div class="navbar justify-content-start" [ngClass]="{ 'sticky-top' : this.router.url !== '/projects' }">
    <span *ngIf="this.windowPosition.windowScrolled && !isParentUrl()" class="navbar-brand">
        <a style="color: aliceblue;" routerLink="" routerLinkActive="active">
            <span>Jeffrey Ng</span>
        </a>
    </span>
    <span *ngIf="this.windowPosition.windowScrolled && !isParentUrl()" class="navbar-item">/>>&nbsp;</span>
    <a *ngIf="!isParentUrl()" routerLink="../projects"><span class="navbar-brand">Projects</span></a>
    <span *ngIf="isParentUrl()" class="navbar-brand">Projects</span>
    <span class="navbar-item">
        <span *ngIf="!isParentUrl()">/>> {{ this.getCurretProject() }}</span>
    </span>
</div>
<div class="wrapper">
    <div class="content">
        <div id="selected-project-container" [ngClass]="{ hide : this.router.url === '/projects' }">
            <div>
                <h1>{{ this.getCurretProject() }}</h1>
            </div>
            <div class="project-wrapper">
                <div class="project-content">
                    <div class="tag">
                        Tags: <span *ngFor="let tag of getCurrentProjectTags()">#{{ tag }} </span>
                    </div>
                    <br>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div [ngClass]="{ hide : this.router.url !== '/projects' }">
            <app-project-controller [tagsInView]="tagsInViewAux" (titleEmitter)="captureTitle($event)"
                (tagEmitter)="captureTags($event)">
            </app-project-controller>
            <app-project-selector (currentTagsEmitter)="capturefilteredTags($event)" [titleQueryIn]="titleQueryAux"
                [tagQueryIn]="tagQueryAux">
            </app-project-selector>
        </div>
    </div>
</div>