<div class="navbar justify-content-start">
    <a *ngIf="!isParentUrl()" routerLink="../projects"><span class="navbar-brand">Projects</span></a>
    <span *ngIf="isParentUrl()" class="navbar-brand">Projects</span>
    <span class="navbar-item">
        <span *ngIf="!isParentUrl()">>>> </span> {{ this.getCurretProject() }}
    </span>
</div>


<div class="wrapper">
    <div class="content">
        <div [ngClass]="{ hide : this.router.url === '/projects' }" class="project">
            <div>
                <h1>{{ this.getCurretProject() }}</h1>
            </div>
            <router-outlet></router-outlet>
        </div>
        <div [ngClass]="{ hide : this.router.url !== '/projects' }">
            <!-- <app-project-controller></app-project-controller> -->
            <app-project-selector></app-project-selector>
        </div>
    </div>
</div>