/* Project related navbar stuff */

.navbar {
    background-color: #3b3b69;
    height: 55px;
}

.navbar a:hover {
    text-decoration: none !important;
    color: #007bff !important;
}

.navbar-brand {
    font-size: 20px !important;
}

@media screen and (max-width: 420px) {
    .navbar-item {
        display: none;
    }
}

/* Connent Wrappers */

.content, .project-content {
    margin: 0;
}

.wrapper {
    margin: 30px 4rem 0 4rem;
    min-height: calc(100vh - 201px);
}

@media screen and (max-width: 480px) {
    .wrapper {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (min-width: 480px) {
    .content, .project-content {
        margin: 0 2vw 0 2vw;
    }
}

/* Project Selector */

.hide {
    display: none;
}

/* Subcomponent content media scaling */

.controller {
    margin: 0 5vw 30px 5vw;
    padding-top: 20px;
    padding-bottom: 10px;
}

.controller h4 {
    font-size: 1.15rem;
    text-align: center;
}

.card-columns, .controller {
    font-size: 80%;
}

label.tagCheckBox {
    font-size: 70%;
}

@media screen and (min-width: 480px) {
    .controller h4 {
        font-size: 1.30rem;
    }
    .card-columns, .controller {
        font-size: 85%;
    }
    label.btn.btn-secondary.tagCheckbox {
        font-size: 75% !important;
    }
}

@media screen and (min-width: 800px) {
    .controller h4 {
        font-size: 1.40rem;
    }
    .card-columns, .controller {
        font-size: 95%;
    }
    label.btn.btn-secondary.tagCheckbox {
        font-size: 85% !important;
    }
}

@media screen and (min-width: 1000px) {
    .controller h4 {
        font-size: 24px;
    }
    .card-columns, .controller {
        font-size: 100%;
    }
    label.btn.btn-secondary.tagCheckbox {
        font-size: 90% !important;
    }
}

/* Fade in fade out credit: https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08 */

.tagCheckboxLabel {
    margin: 5px 10px;
}

.fade-in {
    animation: fadeIn ease 1.0s;
    -webkit-animation: fadeIn ease 1.0s;
    -moz-animation: fadeIn ease 1.0s;
    -o-animation: fadeIn ease 1.0s;
    -ms-animation: fadeIn ease 1.0s;
    position: relative;
    opacity: 1;
    height: inherit;
    width: inherit;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    100% {
        position: relative;
        opacity: 1;
        height: inherit;
        width: inherit;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    100% {
        position: relative;
        opacity: 1;
        height: inherit;
        width: inherit;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    100% {
        position: relative;
        opacity: 1;
        height: inherit;
        width: inherit;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    100% {
        position: relative;
        opacity: 1;
        height: inherit;
        width: inherit;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    100% {
        position: relative;
        opacity: 1;
        height: inherit;
        width: inherit;
    }
}

.fade-out {
    animation: fadeOut ease 1.0s;
    -webkit-animation: fadeOut ease 1.0s;
    -moz-animation: fadeOut ease 1.0s;
    -o-animation: fadeOut ease 1.0s;
    -ms-animation: fadeOut ease 1.0s;
    position: absolute;
    overflow: hidden;
    height: 0px;
    width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

@keyframes fadeOut {
    0% {
        position: relative;
        opacity: 1;
        height: inherit;
        width: inherit;
    }
    100% {
        position: absolute;
        overflow: hidden;
        opacity: 0;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
}

@-moz-keyframes fadeOut {
    0% {
        position: relative;
        opacity: 1;
        height: inherit;
        width: inherit;
    }
    100% {
        position: absolute;
        overflow: hidden;
        opacity: 0;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        position: relative;
        opacity: 1;
        height: inherit;
        width: inherit;
    }
    100% {
        position: absolute;
        overflow: hidden;
        opacity: 0;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
}

@-o-keyframes fadeOut {
    0% {
        position: relative;
        opacity: 1;
        height: inherit;
        width: inherit;
    }
    100% {
        position: absolute;
        overflow: hidden;
        opacity: 0;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
}

@-ms-keyframes fadeOut {
    0% {
        position: relative;
        opacity: 1;
        height: inherit;
        width: inherit;
    }
    100% {
        position: absolute;
        overflow: hidden;
        opacity: 0;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
}