/* Project related navbar stuff */

.navbar {
    background-color: #3b3b69;
    height: 55px;
}

.navbar a:hover {
    text-decoration: none !important;
    color: #007bff !important;
}

.navbar-brand {
    font-size: 20px !important;
}

@media screen and (max-width: 420px) {
    .navbar-item {
        display: none;
    }
}

/* Connent Wrappers */

.content, .project-content {
    margin: 0;
}

.wrapper {
    margin: 30px 4rem 0 4rem;
    min-height: calc(100vh - 201px);
}

@media screen and (max-width: 480px) {
    .wrapper {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (min-width: 480px) {
    .content, .project-content {
        margin: 0 2vw 0 2vw;
    }
}

/* Project Selector */

.hide {
    height: 0;
    width: 0;
    display: none;
    transition: 1s ease-out;
}

/* Subcomponent content media scaling */

.controller {
    margin: 0 5vw 30px 5vw;
    padding-top: 20px;
    padding-bottom: 10px;
}

.controller h4 {
    font-size: 1.15rem;
    text-align: center;
}

.card-columns, .controller {
    font-size: 80%;
}

@media screen and (min-width: 480px) {
    .controller h4 {
        font-size: 1.30rem;
    }
    .card-columns, .controller {
        font-size: 85%;
    }
}

@media screen and (min-width: 800px) {
    .controller h4 {
        font-size: 1.40rem;
    }
    .card-columns, .controller {
        font-size: 95%;
    }
}

@media screen and (min-width: 1000px) {
    .controller h4 {
        font-size: 24px;
    }
    .card-columns, .controller {
        font-size: 100%;
    }
}