<div>
    <p>
    </p>
    <p>
        If you'd like to run it in a new tab, just click <a href="https://replit.com/@komoto415/RC4#main.py"
            target="_blank">here</a>. Otherwise just click the green run button below and give it a try!
    </p>
    <div>
        <iframe height="600px" width="100%" src="https://repl.it/@komoto415/RC4?lite=true&outputonly=true"
            scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true"
            sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals">
        </iframe>
    </div>
</div>