<div class="wrapper">
    <div class="inner-wrapper">
        <h3 style="text-align: center;">Wherefore Art Thou</h3>
        <div class="content">
            <div class="row align-items-center justify-content-center" style="min-height: 80%;">
                <div class="col-md-3 align-self-center icon">
                    <a href="#">
                        <img src="/assets/contact/icons8-important-mail-100.png"class="mx-auto d-block img-fluid">
                    </a>
                </div>
                <div class="col-md-3 align-self-center icon">
                    <a href="https://www.linkedin.com/in/jeffrey-kacey-ng/" target="_blank">
                        <img src="/assets/contact/icons8-linkedin-100.png"class="mx-auto d-block img-fluid">
                    </a>
                </div>
                <div class="col-md-3 align-self-center icon">
                    <a href="https://github.com/komoto415" target="_blank">
                        <img src="/assets/contact/icons8-github-100.png"class="mx-auto d-block img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <div>
            Icons froms <a href="https://icons8.com/">Icons8.coms</a>
        </div>
    </div>
</div>