<h4>Learning How to Conform with Design</h4>
<p>
    Up until now, projects were fairly straight forwards. As far as design constraints were concerned, all there was to it was we had to follow an interface, but problems weren’t complex enough to have lots of different forms of implementation nor were we seeking any kind of optimisations. And while testing existed in the class prerequisite, Components would also be the first class to try and promote the usage of unit tests.
</p>
<div>
    <div>
        <img src="/assets/images/education/dominos.jpg" width="283px" class="float-left mr-3">
        <p>
            The stand out assignments that we received in this class were Dominos part 1 and 2. The main arc of the assignments could be simplified into this one question: How do we comply with a client's representation of our concept, and use it in our own? For example, at an instance level, our domino might be represented as two integers, one named lowPipCount and the other highPipCount. But the method in which our client interfaces with our instance is a string where the first number would be the low, the second the high and delimited by a colon. This can also be representated with a table as so:
        </p>
    </div>
    <div class="row" style="margin-bottom: 16px;">
        <div class="col-6 nomargin">
            <table>
                <thead>
                    <th>Client</th>
                    <th>Internal</th>
                </thead>
                <tbody>
                    <tr>
                        <td>"0:0"</td>
                        <td>lowPipCount = 0, highPipCount = 0</td>
                    </tr>
                    <tr>
                        <td>"0:1"</td>
                        <td>lowPipCount = 0, highPipCount = 1</td>
                    </tr>
                    <tr>
                        <td>"0:2"</td>
                        <td>lowPipCount = 0, highPipCount = 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 nomargin">
            <table>
                <thead>
                    <th>Client</th>
                    <th>Internal</th>
                </thead>
                <tbody>
                    <tr>
                        <td>"0:3"</td>
                        <td>lowPipCount = 0, highPipCount = 3</td>
                    </tr>
                    <tr>
                        <td>"0:4"</td>
                        <td>lowPipCount = 0, highPipCount = 4</td>
                    </tr>
                    <tr>
                        <td>"0:5"</td>
                        <td>lowPipCount = 0, highPipCount = 5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    so on and so forth. In essence that's what Dominos was; different ways of representing the same concept interfacing and translating between different client facing representations of the domino's concept. By far and none this has been one of my favourite classes and comes to be one closets we get to learning about <strong>design</strong> and its approaches outside of our Software Engineering class.
</p>
<p>
    Though the heart of this class was in all of its weirdness and how it toyed with the ambiguity of project specs. Assignment handouts were intentionally withholding information, poorly written and documented and sometimes asked for the incorrect deliverables formatting. This was especially terrfying because you had one submission and just getting the casing incorrect could land you a zero. Like no other class before, it forced you to look for issues in documentation and ask <strong>strong</strong> and <strong>effective</strong> clarifying questions.
</p>
<p>
    If you'd like, check out my <a href="https://github.com/komoto415/COSC2329" target="_blank">code repository</a> for this class and the submitted assignemnts. <br />
    Dominos <a href="https://github.com/komoto415/COSC2329/tree/master/CHIII" target="_blank">part 1</a> and <a
        href="https://github.com/komoto415/COSC2329/tree/master/CHIV" target="_blank">part 2</a>.
</p>