th, td, table {
    border-width: 1;
    border-style: solid;
}

th, td {
    padding-left: 4px;
    padding-right: 10px;
}

.nomargin {
    margin: 0 !important;
    /* padding: 0 !important; */
}

span#goToSWE {
    color: #007bff;
    cursor: pointer;
}

span#goToSWE:hover {
    color: #0056b3;
    text-decoration: underline;
}