<div class="wrapper">
    <div class="row justify-content-center">
        <div class="inner-wrapper">
            <h1 style="text-align: center; font-family: 'Kalam';">
                Wherefore Art Thou 
                <!-- <span class="align-middle" style="font-size: 20px;"><i class="far fa-question-circle fa-xs"></i></span> -->
            </h1>
            <!-- All Icons from FontAwesome.com -->
            <div class="content">
                <div class="row align-items-center justify-content-center" style="min-height: 80%;">
                    <div class="col-1 align-self-center icon m-3">
                        <div class="d-flex justify-content-center">
                            <a href='mai&#108;to&#58;jeffr%6&#53;yng&#57;9%40&#103;m&#97;i&#108;&#46;com'>
                                <i class="fas fa-envelope-square fa-3x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-1 align-self-center icon m-3">
                        <div class="d-flex justify-content-center">
                            <a href="https://www.linkedin.com/in/jeffrey-kacey-ng/" target="_blank">
                                <i class="fab fa-linkedin fa-3x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-1 align-self-center icon m-3">
                        <div class="d-flex justify-content-center">
                            <a href="https://github.com/komoto415" target="_blank">
                                <i class="fab fa-github-square fa-3x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin: 15px 0px">
                    <!-- <span>OR</span> -->
                </div>
                <h1 style="text-align: center; font-family: 'Kalam'">Checkout my Resume</h1>
                <div class="row justify-content-center" style="padding-bottom: 10px;">
                    <div class="col-2 align-self-center icon p-2">
                        <div class="d-flex justify-content-center">
                            <a href="/assets/resume/RESUME_JUN_06_JEFFREY_NG.pdf" target="_blank">
                                <i class="fas fa-file-pdf fa-3x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>