<div class="wrapper">
    <div class="inner-wrapper">
        <h1 style="text-align: center; font-family: 'Kalam';">Wherefore Art Thou</h1>
        <div class="content">
            <div class="row align-items-center justify-content-center" style="min-height: 80%;">
                <div class="col align-self-center icon p-2">
                    <div class="d-flex justify-content-center">
                        <a href='mai&#108;to&#58;jeffr%6&#53;yng&#57;9%40&#103;m&#97;i&#108;&#46;com'>
                            <i class="fas fa-envelope-square fa-3x"></i>
                        </a>
                    </div>
                </div>
                <div class="col align-self-center icon p-2">
                    <div class="d-flex justify-content-center">
                        <a href="https://www.linkedin.com/in/jeffrey-kacey-ng/" target="_blank">
                            <i class="fab fa-linkedin fa-3x"></i>
                        </a>
                    </div>
                </div>
                <div class="col align-self-center icon p-2">
                    <div class="d-flex justify-content-center">
                        <a href="https://github.com/komoto415" target="_blank">
                            <i class="fab fa-github-square fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>