/* Header */
header.navbar {
    height: 60px;
}

@media screen and (max-width: 260px) {
    #projects {
        display: none;
    }
}

.navbar-brand {
    font-size: 24px !important;
}

.navbar-item {
    font-size: 20px !important;
}

header, footer {
    background-color: #22223b;
} 

a:hover {
    text-decoration: none !important;
}

/* Go To Top */
/* Inspiration: https://heathertovey.com/blog/floating-back-to-top-button/ */
.go-to-top {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 999;
    position: fixed;    
    right: 30px;
    /* Padding bottom should always equal 16, since that is the bottom margin of the footer text */
    padding: 5px;
    bottom: 11px;
    background-color: rgba(34, 34, 59, .7);
    border-radius: 10px;
}

a.go-to-top {
    font-size: 16px;
    color: inherit;
    transition: linear 0.2s;
}

a.go-to-top.show:hover {
    color: rgb(142, 167, 189);
    transition: linear 0.2s;
}

.go-to-top.show {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}