/* Header */
header.navbar {
    height: 60px;
}

@media screen and (max-width: 260px) {
    #projects {
        display: none;
    }
}

.navbar-brand {
    font-size: 24px !important;
}

.navbar-item {
    font-size: 20px !important;
}

header {
    background-color: #22223b;
} 

a:hover {
    text-decoration: none !important;
}

/* Go To Top */
.go-to-top, .show-go-to-top {
    font-size: 18px;
}
.go-to-top {
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.show-go-to-top {
    opacity: 1;
    transition: 0.4s ease-in-out;
}
/* 
.go-to-top-click {

}

.show-go-to-top-click {
    border-width: 1px;
    border-style: solid;
    border-bottom: 0px;
} */


/* Footer */
footer {
    background-color: #22223b;
}