<div>
    <p>
        This would mark the first project I ever worked on during college and accidentally did 90% of it in an hour and a half. It was the moment where I knew that Computer Science was absolutely the career path that I wanted to go down. That feeling of "I built
        that" and the sense of progression throughout the class was something that was missing in most of the other coursework I was taking.
    </p>
    <p>
        Looking back of couse there's a lot I would do differently with this little program and to be quite frank, I cringe a little bit everytime I look at the source code. But sometimes it's just fun to look back at some of the old projects and assignments
        that you've made and think: "oh how far we've come". More than anything else, that's why I'm so glad to have chosen this career path; there's always something to learn and improve on in a way that's tangible.
    </p>
    <p>
        If you'd like to give it a try, click the "Run" button below. If you'd like to check out the source code, try it out <a href="https://replit.com/@komoto415/Simple-Login-and-Register#main.py" target="_blank">here</a> on Replit.
    </p>
    <div>
        <iframe height="600px" width="100%" src="https://repl.it/@komoto415/Simple-Login-and-Register?lite=true&outputonly=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
    </div>
</div>