<div>
    <p>
        This would mark the first project I ever worked on during college and accidently did 90% of it in an hour and a half. My intention is not to come off as boastful or to say: "hey look at how awesome I am", but to point out that I didn't simply view this as a school project and had a lot of fun making. While I was enjoying the class a lot, this project was what cemeneted my choice into picking Computer Science over Math-Engineering.         So please, do try it out! This would be a stark difference in implementation come the next time I would have to implement a login and register program, but we all start somewhere don't we?
    </p>
        <p>
            If you'd like to run it in a new tab, just click <a href="https://repl.it/@komoto415/Simple-Login-and-Register" target="_blank">here</a>.
        </p>
    <div>
        <iframe height="600px" width="100%" src="https://repl.it/@komoto415/Simple-Login-and-Register?lite=true"
            scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true"
            sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals">
        </iframe>
    </div>
</div>