.wrapper {
    margin: 0 30px 0 30px;
}

.box {
    background: #fff;
    border-radius: 4px;
    padding-bottom: 100%;
}

.col-sm-3 {
    margin-top: 30px !important;
}

.skill img {
    max-height: auto;
    max-width: 150px;
    height: auto;
    width: 95%;
}

.skill {
    transition: .2s;

}

.skill:hover {
    transform: scale(1.1);
}

.resume {
    margin-top: 30px;
    margin-bottom: 30px;
}