.edu {
    min-width: 100% !important;
    background-color: rgb(71, 78, 97);
    color: aliceblue;
}

.card-header {
    cursor: pointer;
    transition: 0.3s;
}

.card-header:hover {
    background-color: rgb(104, 120, 161);
}