<div>
    <span>"You don't know what you don't know"</span>
</div>

<h4>Team Dynamics and Group Skill</h4>
<div>
    <p>
        It's amazing how much group work is often over looked in software development, especially as a student where
        group work isn't truly encouraged. One of the many lessons that I took away from this class was just how
        important team dynamics were in a project. In the past it wasn't farfetched to pick up a project and just do it
        on your own, there wasn't quite the scale for that to be impossible.
    </p>
    <p>

    </p>
    <h5>Embracing Agile Methodology and Scrum</h5>
    <div>
        <!-- https://www.pngflow.com/en/free-transparent-png-cssms -->
        <img src="/assets/images/agile.png" style="max-height: 200px; width: auto;" class="float-left mr-3" alt="">
        <p>
            To agile or not to agile
        </p>
    </div>
</div>

<h4>Softskills</h4>
<div>
    <p>

    </p>
</div>

<h4>In the Face of Adversity</h4>
<div>
    <!-- <h5>Team Contracts</h5>
    <p>

    </p> -->

    <h5>Missing Deliverables</h5>
    <p>

    </p>
</div>

<div>
    <p>
        For more details on the completed project, click <a routerLink="/projects/wego-services"
            data-dismiss="modal">here</a>
    </p>
</div>