/* Project Controller */

label {
    text-align: right;
    font-size: 115%;
}

#tagCheckboxes, .controller {
    padding: 0 20px 0 20px;
    background-color: #3b3b69;
}

.filter {
    width: 70%;
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: aliceblue;
    color: rgb(184, 222, 255);
}

.filter::placeholder {
    color: rgb(184, 222, 255);
    opacity: .6;
}

.filter:-ms-input-placeholder {
    color: rgb(184, 222, 255);
    opacity: .6;
}

.filter::-ms-input-placeholder {
    color: rgb(184, 222, 255);
    opacity: .6;
}

.filter:focus {
    outline-width: 0;
    caret-color: aliceblue;
}

@media screen and (min-width: 700px) {
    #projectSearch {
        width: 55%;
    }
}