/* Project Controller */

label {
    text-align: right;
    font-size: 115%;
}

#tagCheckboxes, .controller {
    padding: 0 20px 0 20px;
    background-color: #3b3b69;
}

.filter {
    width: 70%;
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: aliceblue;
    color: rgb(184, 222, 255);
}

.filter::placeholder {
    color: rgb(184, 222, 255);
    opacity: .6;
}

.filter:-ms-input-placeholder {
    color: rgb(184, 222, 255);
    opacity: .6;
}

.filter::-ms-input-placeholder {
    color: rgb(184, 222, 255);
    opacity: .6;
}

.filter:focus {
    outline-width: 0;
    caret-color: aliceblue;
}

@media screen and (min-width: 700px) {
    #projectSearch {
        width: 55%;
    }
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color: #4a4a80 !important;
    border-color: #4a4a80 !important;
}

.btn-secondary.active,
.btn-secondary.active:hover,
.btn-secondary.active:active,
.btn-secondary.active:visited,
.btn-secondary.active:focus {
    background-color: #1f1f46 !important;
    border-color: #1f1f46 !important;
}

/* Content Wrappers */

.tag-wrapper {
    margin: 0 15px;
}