<div class="controller">
    <h4>Search for a particular project!</h4>
    <!-- <div class="row">
        <label for="#projectSearchTitle" class="col-4">Project Title</label>
        <div class="col-8">
            <input type="text" class="filter" id="projectSearchTitle" placeholder="title"
                (keyup)="updateTitle($event.target.value)">
        </div>
    </div> -->
    <!-- <div class="row">
        <label for="#projectSearchTags" class="col-4">Tags</label>
        <div class="col-8">
            <div style="margin-bottom: 10px;">
                <input type="text" class="filter" [value]="tagQuery" id="projectSearchTags" placeholder="tags"
                    (keyup)="updateTags($event.target.value, '')">
            </div>
        </div>
    </div> -->
    <div class="row justify-content-start" id="tagCheckboxes">
        <div class="tag-wrapper">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label (click)="isChecked($event)" class="btn btn-secondary tagCheckboxLabel fade-in"
                    *ngFor="let tag of tags">
                    <input type="checkbox" autocomplete="off"> {{ tag }}
                </label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div style="margin: 15px;">
            <button class="btn btn-info btn-sm" (click)="clearForm($event)">Clear Inputs</button>
        </div>
    </div>
</div>