<div class="controller">
    <h4>Search for a particular project!</h4>
    <div class="row">
        <label for="#projectSearchTitle" class="col-4">Project Title</label>
        <div class="col-8">
            <input type="text" class="filter" id="projectSearchTitle" placeholder="title"
                (keyup)="updateTitle($event.target.value)">
        </div>
    </div>
    <div class="row">
        <label for="#projectSearchTags" class="col-4">Tags</label>
        <div class="col-8">
            <div style="margin-bottom: 10px;">
                <input type="text" class="filter" id="projectSearchTags" placeholder="tags"
                    (keyup)="updateTags($event.target.value)">
            </div>
            <!-- <div class="row justify-content-start" id="tagCheckboxes">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline1">
                    <label class="custom-control-label" for="defaultInline1">Python</label>
                </div>

                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline2">
                    <label class="custom-control-label" for="defaultInline2">Java</label>
                </div>

                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline3">
                    <label class="custom-control-label" for="defaultInline3">C++</label>
                </div>
            </div> -->
        </div>
    </div>
</div>