<div class="row">
    <div class="col-md-7">
        <h3>Proficiencies</h3>
        <div class="row resume justify-content-center">
            <div class="col-sm-3">
                <div class="box skill" id="python"></div>
            </div>
            <div class="col-sm-3">
                <div class="box skill" id="java"></div>
            </div>
            <div class="col-sm-3">
                <div class="box skill" id="javascript"></div>
            </div>
        </div>
        <div class="row resume justify-content-center">
            <div class="col-sm-3">
                <div class="box skill" id="julia"></div>
            </div>
            <div class="col-sm-3">
                <div class="box skill" id="cpp"></div>
            </div>
            <div class="col-sm-3">
                <div class="box skill" id="c"></div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h3>Education</h3>
        <div class="row resume">
            <app-education-card></app-education-card>
        </div>
    </div>
</div>