.box {
    background: #fff;
    border-radius: 4px;
    padding-bottom: 100%;
 }
 
 .col-sm-4 {
    margin-top: 30px !important;
 }

.skill {
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .2s;
}

.skill:hover {
    transform: scale(1.1);
}

 #python {
    background-image: url("/assets/languages/python.png");
}

#julia {
    background-image: url("/assets/languages/julia.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#c {
    background-image: url("/assets/languages/c.png");
}

#cpp {
    background-image: url("/assets/languages/cpp.png");
}

#java {
    background-image: url("/assets/languages/java.png");
}

#javascript{
    background-image: url("/assets/languages/javascript.png");
}

.resume {
    margin-top: 30px; 
    margin-bottom: 30px;
}

app-education-card {
    min-width: 100%;
}