<div class="container">
    <div class="row">
        <div class="col-auto">
            <h3>Experience</h3>
            <div class="row resume">
                <app-experiences></app-experiences>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>Language Proficiencies</h3>
            <app-languages></app-languages>
        </div>
        <div class="col-md-5">
            <h3>Education</h3>
            <div class="row resume">
                <app-education-card></app-education-card>
            </div>
        </div>
    </div>
</div>