<div class="container">
    <div class="wrapper">
        <!-- <div class="row">
            <div class="col">
                <h3>Experience</h3>
                <div class="row resume">
                    <app-experiences></app-experiences>
                </div>
            </div>
        </div> -->
        <h3>Education</h3>
        <div class="row resume">
            <app-education-card></app-education-card>
        </div>
        <h3>Language Proficiencies</h3>
        <div class="row justify-content-center">
            <app-languages></app-languages>
        </div>
    </div>
</div>