.banner {
    /* image credit: https://mymodernmet.com/hong-kong-neon-xavier-portela/ */
    height: 80vh;
    background-image: url("/assets/banners/hong-kong-banner-v2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 75px 5vmin 10px 5vmin;
}

.content {
    padding: 0px 10px 0px 10px;
    font-size: 30px;
    position: relative;
    background: rgb(204, 204, 204);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(90, 90, 90, 0.85);
}

.quote {
    font-size: 35px;
    font-style: italic;
}

.tribute {
    font-size: 40px;
    text-align: right;
}

@media screen and (max-width: 480px) {
    .banner {
        height: 55vh;
    }
    .quote {
        font-size: 20px;
    }
    .tribute {
        font-size: 25px;
    }
}