.banner {
    position: relative;
    /* image credit: https://mymodernmet.com/hong-kong-neon-xavier-portela/ */
    height: calc(60vh - 60px);
    width: 100vw;
    /* padding: 17.5vh 5vmin 10px 5vmin; */
    padding: 0 5vmin;
    background-image: url("/assets/images/banners/hong-kong-banner-v2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.content {
    padding: 0px 10px;
    font-size: 30px;
    font-style: italic;
    background: rgb(204, 204, 204);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(90, 90, 90, 0.85);
}

.banner-content {
    display: inline-block;
}

.banner #img-credit {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#img-credit {
    background: rgba(90, 90, 90, 0.85);
    padding: 2px;
}

.quote {
    font-size: 15px;
}

.tribute {
    font-size: 25px;
}

@media screen and (min-width: 320px) {
    .banner {
        height: calc(70vh - 60px);
    }
    .quote {
        font-size: 20px;
    }
    .tribute {
        font-size: 25px;
    }
}

@media screen and (min-width: 640px) {
    .banner {
        height: calc(80vh - 60px);
    }
    .quote {
        font-size: 30px;
    }
    .tribute {
        font-size: 35px;
    }
}

@media screen and (min-width: 800px) {
    .banner {
        height: calc(100vh - 60px);
    }
    .quote {
        font-size: 35px;
    }
    .tribute {
        font-size: 40px;
    }
}