<div class="accordion">
    <input type="radio" name="select" class="accordion-select" checked />
    <div class="accordion-title">
        <span>About Me</span>
    </div>
    <div class="accordion-content">
        <div class="container-flex">
            <h3 style="margin-bottom: 25px;">About Me</h3>
            <div class="row align-items-center">
                <div class="col-sm align-self-start">
                    <div class="text-center">
                        <p>
                            <img src="/assets/me/me-squared.jpg" class="mx-auto d-block img-fluid">
                            <span>"Who's got my baseball?"</span>
                        </p>
                    </div>
                </div>
                <div class="col-8 align-self-center">
                    <div class="about-text">
                        <p>
                            I AM PUTTING A BUNCH OF STUFF TO TEST OVERFLOW
                            I AM PUTTING A BUNCH OF STUFF TO TEST OVERFLOW
                            I AM PUTTING A BUNCH OF STUFF TO TEST OVERFLOW
                            I AM PUTTING A BUNCH OF STUFF TO TEST OVERFLOW
                            I AM PUTTING A BUNCH OF STUFF TO TEST OVERFLOW
                            I AM PUTTING A BUNCH OF STUFF TO TEST OVERFLOW
                            I AM PUTTING A BUNCH OF STUFF TO TEST OVERFLOW
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="radio" name="select" class="accordion-select" />
    <div class="accordion-title">
        <span>Embrace Agile and Scrum</span>
    </div>
    <div class="accordion-content">
        <div class="container-flex">
            <h3 style="margin-bottom: 25px;">Embrace Agile and Scrum</h3>
        </div>
    </div>

    <input type="radio" name="select" class="accordion-select" />
    <div class="accordion-title">
        <span>
            Title
        </span>
    </div>
    <div class="accordion-content">
        <div class="container-flex">
            <h3 style="margin-bottom: 25px;">Stuff</h3>
        </div>
    </div>
</div>