<div class="accordion">
    <input type="radio" name="select" class="accordion-select" checked />
    <div class="accordion-title">
        <span>About Me</span>
    </div>
    <div class="accordion-content">
        <div class="container-flex">
            <h3 style="margin-bottom: 25px;">About Me</h3>
            <div class="row align-items-center">
                <div class="col-sm align-self-start">
                    <div class="text-center">
                        <p>
                            <img src="/assets/me/me-squared.jpg" class="mx-auto d-block img-fluid">
                            <span style="margin: 0 5% 0 5%; font-size: 90%;">"Why watch the world burn when you can light the fire?"</span>
                        </p>
                    </div>
                </div>
                <div class="col-8 align-self-center">
                    <div class="about-text">
                        <p>
                            I was born in Texas and raised in Hong Kong where I had all of my schooling, all the way
                            from Reception to the 12th grade. I am now back stateside in Austin, Texas for college.
                        </p>
                        <p>
                            Despite the various career paths I have attempted, Journalism, Global Studies, I always find myself back on track in some sort of engineering field. A part of me has always known I wanted a designer and builder and it wasn't fully realised until university.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="radio" name="select" class="accordion-select" />
    <div class="accordion-title">
        <span>Embrace Agile and Scrum</span>
    </div>
    <div class="accordion-content">
        <div class="container-flex">
            <h3 style="margin-bottom: 25px;">Embrace Agile and Scrum</h3>
        </div>
    </div>

    <input type="radio" name="select" class="accordion-select" />
    <div class="accordion-title">
        <span>
            Title
        </span>
    </div>
    <div class="accordion-content">
        <div class="container-flex">
            <h3 style="margin-bottom: 25px;">Stuff</h3>
        </div>
    </div>
</div>