.education-wrapper {
    padding: 15px 3vw;
}

.technical-skills-wrapper {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: #1d1d33;
    border-radius: 50px;
}

h3.title {
    text-align: center;
}

@media screen and (max-width: 480px) {
    h3.title {
        font-size: 22px;
    }
}