<div class="container">
    <div class="wrapper">
        <!-- <div class="row">
            <div class="col">
                <h3>Experience</h3>
                <div class="row resume">
                    <app-experiences></app-experiences>
                </div>
            </div>
        </div> -->
        <div class="education-wrapper">
            <h3 style="text-align: center;">Education</h3>
            <app-education-card></app-education-card>
        </div>
        <div class="language-wrapper">
            <h3>Language Proficiencies</h3>
            <app-technical-skills></app-technical-skills>
        </div>
    </div>
</div>