<!-- <div class=" row justify-content-around">
        <div class="col-lg-10">
            <h3>Experiences</h3>
            <app-experiences></app-experiences>
        </div>
    </div> -->
<div class="row education-wrapper home-content-wrapper justify-content-center">
    <div class="col-lg-10">
        <h3 class="title">Education</h3>
        <app-education-card></app-education-card>
    </div>
</div>
<div class="row technical-skills-wrapper home-content-wrapper justify-content-center">
    <div class="col-lg-10">
        <h3 class="title">Languages and Technologies</h3>
        <app-technical-skills></app-technical-skills>
    </div>
</div>